*.pyc
.CFUserTextEncoding
.DS_Store
.NERDTreeBookmarks
.Trash/
.Xauthority
.adobe/
.android/
.bash_history
.brew
.cache/
.config/
.cpan/
.dropbox/
.emacs.d/
.ember-data/
.ember/
.filezilla/
.fontconfig/
.fonts/
.gem/
.gitk
.gnupg/
.heroku/
.hgignore
.hgignore_global
.hushlogin
.inputrc
.irb-history
.irssi/
.lesshst
.local/
.mpd/
.mpdconf
.mysql_history
.netrc
.node-gyp/
.npm/
.oh-my-zsh
.osx
.pearrc
.pry_history
.psql_history
.qgis/
.rediscli_history
.repos/
.rnd
.rvm/
.s3cfg
.screenrc
.sh_history
.sqlite_history
.ssh/
.subversion/
.swp
.task/
.tilemill/
.tmp/
.tmuxinator/
.vegas/
.vim-tmp
.vim/.netrwhist
.vim/bundle/
.viminfo
.vimperator/
.vimprojects
.vimrc.backup
.vimrc.old
.wgetrc
.zcompdump-Hengsha-4.3.11
.zlogin
.zsh-update
.zsh_history
Calibre Library/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Sites
android-sdks/
bin/hasher
bin/youtube-dl
dwhelper/
tmp/
workspace/

# Ignore ctags
tags
