.DS_Store
.CFUserTextEncoding
.Trash/
.Xauthority
.aliases
.android/
.bash_history
.brew
.composer/
.dropbox/
.exports
.extra
.filezilla/
.fontconfig/
.fonts/
.functions
.gem/
.gitk
.gvimrc
.heroku/
.hgignore
.hgignore_global
.hushlogin
.inputrc
.irb-history
.irb_history
.lesshst
.local/
.mysql_history
.netrc
.npm/
.osx
.pearrc
.psql_history
.rvm/
.screenrc
.sh_history
.sqlite_history
.ssh/
.swp
.viminfo
.vim-tmp
.vim/.netrwhist
.vim/backups
.vim/swaps
.vim/undo
.vim-fuf-data
.vimfuzzyfinder
.viminfo
.vimprojects
.vimrc.backup
.vimrc.old
.wgetrc
.zlogin
.zshrc
Calibre Library/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
Sites
android-sdks/
bin/
dwhelper/
workspace/
