# Why not just initialize the git repo somewhere else?
# Because I prefer to see what's being changed in my home directory.

.DS_Store
/.NERDTreeBookmarks
/.Trash/
/.Xauthority
/.adobe/
/.android/
/.atom/
/.aws/
/.babel.json
/.bash_history
/.boot2docker/
/.brew
/.bundle/
/.byebug_hist
/.cabal/
/.cache/
/.cargo/
/.composer/
/.config/
/.cordova
/.cpan/
/.ctags
/.cups/
/.dbshell
/.designer/
/.docker/
/.dropbox/
/.elm/
/.emacs.d/
/.ember-data/
/.ember/
/.erlang.cookie
/.fontconfig/
/.fonts/
/.fzf.bash
/.fzf.zsh
/.fzf/
/.gem/
/.ghc-mod/
/.ghc/
/.gitk
/.gnupg/
/.guard_history
/.heroku/
/.hex/
/.hgignore
/.hgignore_global
/.hushlogin
/.idlerc/
/.inputrc
/.irb-history
/.irssi/
/.jspm/
/.lesshst
/.linkchecker/
/.local/
/.mix/
/.mongorc.js
/.mongotron/
/.mpd/
/.mpdconf
/.mysql_history
/.netrc
/.ngrok
/.ngrok2/
/.node-gyp/
/.node_repl_history
/.npm/
/.nviminfo
/.nvimlog
/.nvimrc
/.nvm/
/.oh-my-zsh
/.oracle_jre_usage/
/.osx
/.passenger/
/.pearrc
/.php_history
/.pip/
/.pm2/
/.pry_history
/.psql_history
/.qgis/
/.rediscli_history
/.repos/
/.resin/
/.rnd
/.rubies/
/.rustup/
/.rvm/
/.s3cfg
/.screenrc
/.sh_history
/.sqlite_history
/.ssh/
/.stack/
/.subversion/
/.swp
/.tilemill/
/.tmp/
/.tmuxinator/
/.travis/
/.v8flags.*
/.vegas/
/.vim-tmp
/.vim/.netrwhist
/.vim/bundle/
/.viminfo
/.vimperator/
/.vscode/
/.weechat/
/.wgetrc
/.zcompdump*
/.zlogin
/.zsh-update
/.zsh_history
/Applications (Parallels)/
/Applications/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Google Drive/
/Library/
/Music/
/Pictures/
/VirtualBox VMs/
/android-sdks/
/connections.xml
/npm-debug.log
/src/
/tags
/tmp/
/workspace/
